<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout}">

<section th:fragment="content">

    <div class="container">
        <h2 th:text="${article.id} != null ? 'Editar Artículo' : 'Nuevo Artículo'"></h2>

        <form th:action="@{/blog}" 
              th:object="${article}" 
              method="post">

            <!-- TÍTULO -->
            <div class="mb-3">
                <label class="form-label">Título</label>

                <input type="text"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('title')} ? ' is-invalid'"
                       th:field="*{title}">

                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('title')}"
                     th:errors="*{title}">
                </div>
            </div>

            <!-- CONTENIDO -->
            <div class="mb-3">
                <label class="form-label">Contenido</label>

                <textarea class="form-control"
                          rows="5"
                          th:classappend="${#fields.hasErrors('content')} ? ' is-invalid'"
                          th:field="*{content}"></textarea>

                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('content')}"
                     th:errors="*{content}">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">
                Guardar
            </button>

            <a th:href="@{/blog}" class="btn btn-secondary">
                Cancelar
            </a>

        </form>
    </div>

</section>
</html>
