<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout">
<body>
    
<section th:fragment="content">
<h2 class="section-title">Blog de IA y Programación</h2>

<div class="mb-4 text-end">
    <a href="/blog/new" class="btn btn-success">
        + Nuevo artículo
    </a>
</div>


<div class="list-group">
    <div class="list-group-item mb-3"
         th:each="article : ${articles}">

        <h5>
            <a th:href="@{/blog/{id}(id=${article.id})}"
               th:text="${article.title}">
            </a>
        </h5>

        <p th:text="${#strings.abbreviate(article.content, 120)}"></p>

    </div>
</div>

</section>

</body>
</html>
